body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f3ebd6;
    font-family: 'Cabin', sans-serif;
    letter-spacing: 3px;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 96px;
    color: #ff8623;
    text-align: center;
}

h2 {
    font-size: 48px;
    color: #4671df;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 80px;
    background-color: #4671df;
    color: #ffffff;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10%;
    font-family: 'Titan One', sans-serif;
    font-size: 24px;
    color: #ffd600;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10%;
}

.github-icon {
    color: #ffd600;
}

.large-header {
    font-family: 'Titan One', sans-serif;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.blog-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.blog-post-containers {
    text-align: center;
    height: 200px;
    width: 40%;
}
.blog-link {
    text-decoration: underline;
}

.blog-header {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.blog-text-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.blog-text {
    width: 60%;
}